<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layouts/main}">
<head>
	<title>List Authors</title>
</head>
<body>
		
	<div layout:fragment="content">
	
    	<table class="table table-striped">
			<thead> 
				<tr> 
					<th>#</th> 
					<th>First Name</th> 
					<th>Last Name</th> 
					<th>Email</th> 
				<!-- 	<th>View</th>
					<th>Edit</th>
					<th>Delete</th> -->
					<!-- <th>Posts By Author</th> -->
				</tr> 
			</thead>
			<tbody>
				<tr th:each="author, iterationStatus : ${authors}">
					<td th:text="${iterationStatus.count}">1</td>
					<td th:text="${author.firstName}">First Name</td>
					<td th:text="${author.lastName}">Last Name</td>
					<td th:text="${author.email}">Email Address</td>
					<!-- <td><a href="#" th:href="@{/admin/author/} + ${author.id}">View</a></td>
					<td><a href="#" th:href="@{/admin/author/edit/} + ${author.id}">Edit</a></td>
					<td><a href="#" th:href="@{/admin/author/delete/}+ ${author.id}">Delete</a></td> -->
					<!-- <td><a th:href="|/posts/byAuthor/${author.id}|">Posts By Author</a></td> -->
				</tr>
			</tbody>
		</table>

		
		<br/><br/>
	</div>
		
</body>
</html>